*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly;
    margin-top: 8rem;
}

.half-width{
    width: 40%;
}
.half-width p{
    margin-bottom: 3rem;
}

.half-width img{
    width: 650px;
    height: 450px;
    border-radius: 50%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px ;
    color: white;
    font-weight: 900 ;
    border-radius: 5px;
}

.top-banner{
    background-image: url(./top-banner.png);
    background-size: 60px;
    background-repeat: no-repeat;
}
